{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <div class="centre">
    <button id="nouveau">{{ button_label|default('Mettre à jour') }}</button>
    <div>
    <br>
{{ form_end(form) }}
